.parent{
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 5vh 0;
}
.section{
    padding: 0 20vh;
}
.container {
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 3vh 20vh;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}
.innerdiv {
  width: 25vw;
  min-width: 400px;
  filter: drop-shadow(5px 5px 5px #00000065);
}
@media(max-width: 1361px){
  .innerdiv{
    min-width: 600px;
    margin-top: 2%;
  }
  
}
.img {
  width: 100%;
  height: 100%;
  filter:brightness(70%);
  object-fit: cover;

}
.imgText {
  position:absolute;
  top: 35%;
}
@media(max-width: 1361px){
  .imgText{
    top: 60%;
  }
  
}

.container2 {
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 0 20vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .innerdiv2{
    width: 40vw;
    filter: drop-shadow(5px 5px 5px #00000065);
    min-width: 500px;
  }

  @media(max-width: 1361px){
    .innerdiv2 {
      min-width: 600px;
      margin-top: 2%;
    }
  }
  .img2 {
    width: 100%;
    height: 100%;
    filter:brightness(60%);
    object-fit: cover;
    
  }
  .imgText2 {
    position:absolute;
    top: 60%;
  }
  