.navbar{
  position:sticky;
  top:0;
  z-index:100;
}
.navbartext {
  font-size: 1.25rem;
  font-weight: medium;
  font-family: "roboto";
}

.navbartext:hover {
  color: green !important;
}

.active {
  font-weight: bold;
}
.logodiv {
  width: 10%;
}
.logowidth {
  width: 100% !important;
}

.profile{
  display:flex;
  flex-direction: row;
}