.navbarposition {
  position: absolute;
  top: 0;
  left: 0;
}
.navbarwidth {
  width: 100%;
}

.navbartext{
  font-size:1.25rem;
  font-weight:medium;
  font-family: "roboto";
}

.navbartext:hover{
  color: green !important;
}

.active{
  font-weight: bold;
}
.logodiv{
  width:10%;
}
.logowidth{
  width:100% !important;
}